@charset "utf-8";
/* CSS Document */

/*======*/
/*======*/
/* Overrides (c)Radical Graphics */

@font-face {
    font-family: 'Springsteel';
    src: url('../font/springsteel.otf') format('opentype');
    src: url('../font/springsteel.otf#iefix') format('opentype');      
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Advent';
    src: url('../font/advent.otf') format('opentype');
    src: url('../font/advent.otf#iefix') format('opentype');      
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dekar';
    src: url('../font/dekar.otf') format('opentype');
    src: url('../font/dekar.otf#iefix') format('opentype');      
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../font/MuseoSans_500-webfont.woff') format('opentype');
    src: url('../font/MuseoSans_500-webfont.woff#iefix') format('opentype');      
    font-weight: normal;
    font-style: normal;
}


.btn-pinkloc2 {
  background-color: hsl(296, 80%, 36%) !important;
  background-repeat: repeat-x;
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", #d922e6, #9b12a5));
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d922e6), to(#9b12a5));
  background-image: -moz-linear-gradient(top, #d922e6, #9b12a5);
  background-image: -ms-linear-gradient(top, #d922e6, #9b12a5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d922e6), color-stop(100%, #9b12a5));
  background-image: -webkit-linear-gradient(top, #d922e6, #9b12a5);
  background-image: -o-linear-gradient(top, #d922e6, #9b12a5);
  background-image: linear-gradient(#d922e6, #9b12a5);
  border-color: #9b12a5 #9b12a5 hsl(296, 80%, 32%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}

.navbar-inner-bottom {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #f7f7f7, #e0e0e0);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e0e0e0);
  background-image: -o-linear-gradient(top, #f7f7f7, #e0e0e0);
  background-image: linear-gradient(top, #f7f7f7, #e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e0e0e0', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 1px 0 rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 1px 0 rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 3px 1px 0 rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}


.nav .nav-text{
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  font-size:18px;
}

.carousel-caption p {
  color: #CCCCCC;
  font-size:12pt;
}

.carousel-caption h4 {
  color: #ffffff;
  font-size:12pt;	
}

/***********************/
/***********************/
/*  Main BODY Overrides */
/************************/
/*  Font overrides*/
/************************/

body{
	font-family: "Dekar", Helvetica, Arial, sans-serif;
	background-image:url(../img/bg-400-paper2.jpg);
	
	}


p {
  margin: 0 0 9px;
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

textarea {
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
}

.nav {
  font-family: "Springsteel", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}


.navbar-search .search-query {
  padding: 4px 9px;
  font-family: "Dekar", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  background: #666;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}


/************/
/**  Hero unit alternative   **/
/*************/
.hero-unit-alt {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  /*background-color: #f5f5f5;*/
  background-color: 
rgba(0, 0, 0, 0.07);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.hero-unit-alt h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-unit-alt p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

/*******/
/*******/
/** Tooltip ***/
/**************/*


.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  margin-top: -2px;
}

.tooltip.right {
  margin-left: 2px;
}

.tooltip.bottom {
  margin-top: 2px;
}

.tooltip.left {
  margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #000000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  border-left: 5px solid transparent;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #000000;
  border-bottom: 5px solid transparent;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}




/*******/
/*******/
/** Text alterations ***/
/**************/


.text-white{
  color: #ffffff;
}

h5{
  font-family: "MuseoSans", Helvetica, Arial, sans-serif;
}

.text-small{
  font-size: 10px;
}

.hr-gray{
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #b0b0b0;
  /*border-bottom: 1px solid #ffffff;*/
}
